*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-size: cover;
    cursor: none;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
}
#main{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 100%;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    background-size: cover;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
    margin-bottom: -10px;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    margin-bottom: -10px;;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    margin-bottom: -10px;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 120vw;
    max-height: 120vh;
}
#loop{
    display: flex;
    position: absolute;
    top: 26%;
    height: 40%;
    width: 100%;
    font-size: 90px;
    white-space: nowrap;
    font-family: gilroy;
}
#loop > h1 {
    font-weight: 400;
    background: linear-gradient(90deg, #16a085, #f39c12); /* Apply your gradient here */
    -webkit-background-clip: text; /* Use the background clip property for webkit browsers */
    color: transparent; /* Make the text color transparent so the gradient is visible */
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loop > h1 > span {
    -webkit-text-stroke: 1.2px;
    font-weight: 500;
    background: linear-gradient(90deg, #FFD0EC, #81689D); /* Apply your gradient here */
    -webkit-background-clip: text; /* Use the background clip property for webkit browsers */
    color: transparent;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#nav {
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}

#nav > h3 {
    font-weight: 400;
    font-size: 22px;
    text-decoration: line-through;
    color: #fff;
}

#nav > h3 > a {
    text-decoration: none;
    color: #fff;
}

#nav > button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border: 2px solid transparent; /* Set a transparent border */
    border-image: linear-gradient(90deg, #16a085, #f39c12); /* Apply gradient as border */
    border-image-slice: 1; /* Ensure the entire border is covered by the gradient */

}

#nav > button > a {
    font-family: "Poppins", sans-serif;
    text-decoration: none; /* Remove text decoration from link */
    color: #fff; /* Ensure the link color matches the button text color */
    display: block; /* Make the link block-level to fill the button */
}

#page>h3{
    position: absolute;
    top: 55%;
    font-weight: 400;
    color: #7c7c7c;
    left: 5%;
}
#page>h4{
    position: absolute;
    top: 62%;
    left: 25%;
    color: #efa95a;
    font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
}
#page1>#right-text{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page1>#right-text>h3{
    font-weight: 400;
    color: #7c7c7c;
}
#page1>#right-text>h1{
    line-height: 1.5;
    font-size: 50px;
    color: #16a085;
    background: linear-gradient(90deg, #16a085, #f39c12); /* Apply your gradient here */
    -webkit-background-clip: text; /* Use the background clip property for webkit browsers */
    color: transparent;
}
#page1>#left-text{
    position: absolute;
    top: 45%;
    right: 5%;
    text-align: end;
}
#page1>#left-text>h1{
    font-size: 50px;
    line-height: 1.5;
    color: #16a085;
    background: linear-gradient(90deg, #16a085, #f39c12); /* Apply your gradient here */
    -webkit-background-clip: text; /* Use the background clip property for webkit browsers */
    color: transparent;
}
#page1>#left-text>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page2>#text1>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1>h1{
    font-size: 60px;
    line-height: 1.5;
    color: #16a085;
    background: linear-gradient(90deg, #16a085, #f39c12); /* Apply your gradient here */
    -webkit-background-clip: text; /* Use the background clip property for webkit browsers */
    color: transparent;
}

.card1 {
    width: 320px;
    height: 500px;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: 10%;
    right: 3%;
    align-items: end;
    border: 8px solid #81689D;
}

.card-img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body1{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.card1:hover .card-body1{
    right: 0;
}

.card-title1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
    text-decoration: line-through;
}

.card-sub-title1{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info1{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.card-btn1{
    color: #f39c12;
    background: #000;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}


#page3>#text3{
    position: absolute;
    top: 40%;
    right: 2%;
    text-align: end;
}
#page3>#text3>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3>h1{
    font-size: 70px;
    color: #16a085;
    background: linear-gradient(90deg, #16a085, #f39c12); /* Apply your gradient here */
    -webkit-background-clip: text; /* Use the background clip property for webkit browsers */
    color: transparent;
}

.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
    background-color: #ffffff;
}

.grow, .grow-small{
    transform: scale(8);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}
.grow-small{
    transform: scale(4);
}

.card {
    width: 320px;
    height: 500px;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 10%;
    align-items: end;
    border: 8px solid #81689D;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.card:hover .card-body{
    right: 0;
}

.card-title{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    text-decoration: line-through;
}

.card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.card-btn{
    color: #f39c12;
    background: #000;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}